/* Global variables  */
:root {
  --prim-clr: hsl(206, 73%, 54%);
  --sec-clr: hsl(178, 57%, 41%);
  --tert-clr: hsl(from var(--prim-clr) h s calc(l - 10));
  --back-clr: hsl(205, 29%, 9%);
  --body-font: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Global attributes*/
body {
  font-family: var(--body-font);
  background-color: var(--back-clr);
  color: var(--prim-clr);
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.9em;
}

p {
  font-size: 0.8em;
  color: var(--tert-clr);
  max-width: 70%;
}

button {
  transition: 1s;
  background: var(--sec-clr);
  color: rgb(46, 46, 46);
}

button:hover {
  transform: scale(1.1);
  /* filter: brightness(150%) hue-rotate(20deg); */
  background: hsl(from var(--sec-clr) calc(h + 10) s calc(l + 10));
}

/* Styling classes */
.secondaryText {
  color: var(--tert-clr);
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexCenterCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.halfWidth {
  width: 50%;
}

.fifthWidth {
  width: 20%;
}


/*Header*/
header {
  background-color: var(--sec-clr);
  top: 0;
  margin: 0;
  padding: 10px;
}
header ul {
  margin: 0;
}

.burgerMeny {
  display: none;
  width: fit-content;
}

/* Body */

.imgDiv {
  justify-content: space-evenly;
}

#fishContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0px;  
}


.fish {
  margin: 0;
  filter: hue-rotate(50deg);
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

footer h3 {
  border: var(--prim-clr);
  border-style: dashed;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background-color: hsl(from var(--sec-clr) calc(h - 20) s calc(l + 10));
}

footer img {
  width: 20px;
}


@media (min-width: 769px) {
  header ul {
    display: flex;
    justify-content: space-evenly;
  }
} 


@media (max-width: 768px) {
  .burgerMeny {
    display: flex;
    justify-content: end;
    font-size: xx-large;
  }
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  header ul {
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
  }

  header ul > * {
    padding: 30px 70px 30px 30px;
    border: 5px solid var(--prim-clr);
    background-color: var(--tert-clr);
    justify-content: start;
  }

  header nav:focus-within > ul {
    display: flex;
  }
} 
